<h2 mat-dialog-title>Planet Info</h2>
<div mat-dialog-content class="mat-typography">
    <ul>
        <li>
            <span>Name: {{data.name}}</span>
        </li>
        <li>
            <span>Diameter: {{data.diameter}}</span>
        </li>
        <li>
            <span>Climate: {{data.climate}}</span>
        </li>
        <li>
            <span>Population: {{data.population}}</span>
        </li>
    </ul>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Close</button>
</div>